**String Slicing**

In [ ]:
# String slicing allows to return a range of characters by using the slicing syntax.
# The slicing syntax is: string[start:stop:step]. Indexing in Python starts from 0.
# Example
d = 'data,science'

In [ ]:
# Slice from index 0 to 5 (excluding 5)
print(d[0:5])

data,

In [ ]:
# Slice with steps start at index 5, stop at index 12, and take every second character
print(d[5:12:2])

sine

In [ ]:
# Negative slicing starts from the back side
# Slice from index -1 (last character) to -12 (exclusive)
print(d[-1:-12:-2])

enisaa

In [ ]:
#-1 reverse string
print(d[::-1])

ecneics,atad

 **Features of Python** **Lists**

In [ ]:
#Lists are used to store multiple items in a single variable, created using square brackets [].
#ists maintain the order of elements.
#Lists are mutable, meaning you can add, remove, or change items after creation.
#Lists allow duplicates.

In [ ]:
list = ["sana", 2+3j, 123, { 'age': 39 }]

In [ ]:
# Adding an item to the list using append
list.append("bat")
print(list)  # Output: ['sana', (2+3j), 123, {'age': 39}, 'bat']

['sana', (2+3j), 123, {'age': 39}, 'bat', 'bat']

In [ ]:
# Inserting an item at a particular index
list.insert(1, "pan")
print(list)  # Output: ['sana', 'pan', (2+3j), 123, {'age': 39}, 'bat']

['sana', 'pan', (2+3j), 123, {'age': 39}, 'bat', 'bat']

In [ ]:
# Removing the last item using pop
list.pop()  # Output: 'bat'

'bat'

In [ ]:

# Removing a specific item
list.remove("sana")
print(list)  # Output: ['pan', (2+3j), 123, {'age': 39}]

['pan', (2+3j), 123, {'age': 39}, 'bat']

#  Access, modify, and delete items in a list

In [ ]:
# We can access list items using indexing (starting from 0)
my_list = ["sana", 2+3j, 123, { 'age': 39 }]
my_list[1]

(2+3j)

In [ ]:
my_list[1]

(2+3j)

In [ ]:
# Modify using indexing
my_list[-2] = {555-90j}

In [ ]:
print(my_list)

['sana', (2+3j), {(555-90j)}, {'age': 39}]

In [ ]:
# Deleting items using pop, remove, or clear
my_list.pop()

{'age': 39}

In [ ]:
my_list.remove("sana")
print(my_list)

[(2+3j), {(555-90j)}]

In [ ]:
# Clearing all elements from the list
my_list.clear()

In [ ]:
print(my_list)

[]

**list vs** **tuple**

In [ ]:
# List is  mutable, we can change  them after creation.
# Example
lst = ['sana', (2+3j), 123, {'age': 39}, 'bat', 'bat', 'bat']
print(lst)

['sana', (2+3j), 123, {'age': 39}, 'bat', 'bat', 'bat']

In [ ]:
# Tuples are immutable, can be change after creation.
# Example
tup = ('sana', 2+3j, 123, 234, 963, 'sana', 'sana')
print(tup)

('sana', (2+3j), 123, 234, 963, 'sana', 'sana')

In [ ]:
# Lists allow repetition of elements
print(lst.count('bat'))

3

In [ ]:

# Tuples allow repetition of elements but are immutable
print(tup.count('sana'))

3

In [ ]:
# denoted by ()
tup = ('sana', 2+3j, 123, 234, 963, 'sana', 'sana')
type(tup)

tuple

In [ ]:
# denoted by []
lst = ['sana', (2+3j), 123, {'age': 39}, 'bat', 'bat', 'bat']
type(lst)

list

# **feature of sets and there uses**

In [ ]:
#unique unorderd collection
#it does not allowed duplicate elements
#it does not allowed indexing
#it does not allowed slicing
# written in currly bracket {}
set = {20,30,400,1, 3, 4}

In [ ]:
##unique unorderd collection
print(set)

{400, 1, 3, 4, 20, 30}

In [ ]:
#it does not allowed duplicate elements
{20,30,400,1,1,30,30,3, 4}

{1, 3, 4, 20, 30, 400}

In [ ]:
#it does not allowed indexing
print(set[0])

TypeError: 'set' object is not subscriptable

In [ ]:
#it does not allowed slicing
print(set[1:3])

TypeError: 'set' object is not subscriptable

In [ ]:
# written in currly bracket {}
{20,30,400,1,1,30,30,3, 4}

{1, 3, 4, 20, 30, 400}

In [ ]:
print(type(set))

<class 'set'>

# **tuple and sets use cases**

In [ ]:
#uple is immutable used for storing data which do not want to change example stoting aadhar number genrated one time cannot be changed
aadhar_number= (407128,74963,89632,966532,)

In [ ]:
#Ordered Tuples maintain the order of elements and can access elements via indexing.
print(aadhar_number[1:3])

(74963, 89632)

In [ ]:
#set it does not allowed duplicate elements example employ id we can not provide id once its mentioned
id={407128,74963,89632,407128,966532,}

In [ ]:
print(id)

{407128, 89632, 74963, 966532}

In [ ]:
#set allow us to do comparsion using mathmatical oprations
#union all uniqe elements from set1 and set2
t = {1, 2, 3, 4, 5, 6}
u = {4, 5, 6, 7, 8, 9}
print(t | u)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#Intersection return common elements of set
t = {1, 2, 3, 4, 5, 6}
u = {4, 5, 6, 7, 8, 9}
print(t&u)

{4, 5, 6}

In [ ]:
#set diffrence present in one set and not present in other set
t = {1, 2, 3, 4, 5, 6}
u = {4, 5, 6, 7, 8, 9}
print(t-u)

{1, 2, 3}

In [ ]:
#set symetric all element without common
t = {1, 2, 3, 4, 5, 6}
u = {4, 5, 6, 7, 8, 9}
print(t^u)

{1, 2, 3, 7, 8, 9}

In [ ]:
#frozen set canot add or remove any element
s = frozenset([1, 2, 3, 4, 5])

In [ ]:
#add,modify, and delete items in a dictionary
dict = {
  "name": "frog",
  "model": "Mustang",
  "year": 1964
}
print(dict)

{'name': 'frog', 'model': 'Mustang', 'year': 1964}

In [ ]:
#to modify
dict["name"] = "Alcohol"

In [ ]:
print(dict)

{'name': 'Alcohol', 'model': 'Mustang', 'year': 1964}

In [ ]:
# Deleting an item
del dict["name"]

print(dict)

{'model': 'Mustang', 'year': 1964}

In [ ]:
dict.pop("year")

1964

In [ ]:
dict.clear()

In [ ]:
print(dict)

{}

In [ ]:
#  immutable objects as keys
my_dict = {
    'name': 'Alice',
    1: 'One',
    3.14: 'Pi',
    (1, 2, 3): 'Tuple Key'
}

In [ ]:
print(my_dict)

{'name': 'Alice', 1: 'One', 3.14: 'Pi', (1, 2, 3): 'Tuple Key'}

In [ ]:
# Attempting to use a mutable object (list) as a key will raise a TypeError
my_dict = {
    [1, 2, 3]: 'List Key' '
}

SyntaxError: unterminated string literal (detected at line 3) (<ipython-input-102-d0df7f6aeafb>, line 3)